.sidebar {
    width: 260px;
    height: 100vh;
    background: #111827;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar-logo {
    padding: 25px 20px;
    border-bottom: 1px solid #374151;
}

.sidebar-logo h2 {
    margin: 0;
    color: #3b82f6;
    font-size: 28px;
}

.sidebar-logo p {
    color: #9ca3af;
    margin-top: 6px;
    font-size: 13px;
}

.sidebar-menu {
    padding: 15px;
    flex: 1;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 15px;

    color: #d1d5db;
    text-decoration: none;

    padding: 14px 18px;

    border-radius: 10px;

    margin-bottom: 8px;

    transition: .3s;
}

.sidebar-link:hover {
    background: #1e293b;
    color: white;
}

.sidebar-link.active {
    background: #2563eb;
    color: white;
}

.icon {
    font-size: 20px;
}

.sidebar-footer {
    padding: 15px;
    border-top: 1px solid #374151;
}